#servicios ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
}

#servicios ul li {
    font-size: 1.5rem; 
    line-height: 2rem; 
}
#servicios ul li i {
    font-size: 3rem; 
    margin-right: 10px; 
}

#servicios p {
    font-size: 1.5rem;
    text-decoration:underline;
}

#contacto li i {
    font-size: 5rem;
}

#acerca p {
    font-size: 1.5rem;
}