html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la altura de la ventana */
}

main {
    flex: 1;
}

header {
    background: rgb(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    padding-bottom: 15px;
    margin: 0;
    padding-top: 15px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 15px;
}

header nav ul li {
    margin: 0 15px;
    transition: all 0.5s ease-in-out;
    background-color: rgb(0, 0, 0, 0);
    padding: 10px;
    border-radius: 5px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    transition: all 0.5s ease-in-out;
    background-color: rgb(0, 0, 0, 0);
    padding: 10px;
    border-radius: 5px;
}

header nav ul li:hover {
    background-color: rgb(251, 255, 0,0.2);
    color: #fffb00; 
    transform: scale(1.2);
}

header nav ul li a:hover {
    transform: scale(1.2);
    color: #fffb00; 
}

header h1 {
    color: white;
    font-size: 36px;
    padding-top: 15px;
    padding-bottom: 5px;
}

footer {
    background: rgb(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
}

@media (max-width: 600px) {
    footer {
        padding: 10px; /* Ajusta el padding en dispositivos móviles si es necesario */
    }
}
